/************基础配置*****************/
html,body{
	height:100%;
	margin:0;
	padding: 0;
}
ul,ol,dl{
	list-style: none;;
	margin:0;
	padding:0;
}
li,dt,dd{
	margin:0;
	padding:0;
}
p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
a{
	text-decoration: none
}
/*****************公共方法***********************/
.smile{
	font-size:0.16rem;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0.12rem;	
}

.clearfloat:after{
	display:block;
	content: '';
	clear:both;
	overflow: hidden;
}
.leftmargin{
	margin-left:0;
}
.righttmargin{
	margin-right:0;
}
.leftpadding{
	padding-left:0;
}
.rightpadding{
	padding-right:0;
}
.overflowhidden{
	display:block;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: hidden

}
.overflowhidden2{
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	overflow: hidden;
}